@charset "utf-8";
@font-face{
font-family:'NanumGothic';
src:url('../font/NanumGothic.eot');
src:local(※),url('../font/NanumGothic.woff') format("woff");
}

*{-webkit-text-size-adjust:none;}
/* BIN Reset CSS*/
*{ margin:0; padding:0; vertical-align:top}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0} 
body,button,table{font-size: 1em;font-family:'나눔고딕', NanumGothic, '돋움', 'Dotum', 'sans-serif', 'Tahoma'; font-size:13px; color:#4a4a4a; font-weight:normal;line-height:24px;} 
textarea,input,select{font-family:'나눔고딕', NanumGothic, '돋움', 'Dotum', 'sans-serif', 'Tahoma'; font-size:100%; color:#4a4a4a; font-weight:normal;}
img,fieldset{border:0} 
img, video { max-width:100%}
i,em,address{font-style:normal; font-weight:normal} 
ul,ol,li{list-style:none;}
select,textarea {vertical-align:middle;}

table { border-collapse:collapse; border-spacing:0;}
a {text-decoration:none; color:#353535!important; }
a:hover{color:#000 !important; }
label { cursor:pointer;}
.blind, legend, hr, caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
input{height:24px; padding-left:3px;  vertical-align:middle; line-height:20px}
input[type="text"] {border:1px solid #CCC;}
input[type="password"] {border:1px solid #CCC;}
input[type="radio"] { padding-right:2px}
select{border:1px solid #CCC;vertical-align:middle;height:20px; line-height:16px}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
audio, canvas, progress, video {display:inline-block; vertical-align:baseline;}
/* audio:not([controls]) {display: none;height: 0;} */

h1, h2, h3, h4 {margin:0;padding:0;font-weight:normal;}
img {border:0;font-size:0;line-height:0;vertical-align:middle;}
 .hide    {position:absolute;*position:static;top:-11000px;left:-11000px;width:0;height:0;padding:0;margin:0;color:transparent;font-size:0;line-height:0;overflow:hidden;} /*대체텍스트 */


/*
a  {color:#707070;text-decoration:none;}
a:hover     {color:#0e77d9;text-decoration:none;}
a:active, a:hover {outline:0;}
*/
/* image size guide */
.photoWrap {display:inline-block;overflow:hidden;}
.photoWrap img.photo {width:100%;height:100%;}


.fs12 {font-size:12px !important;}
.fs13 {font-size:13px !important;}
.fs14 {font-size:14px !important;}
.fs16 {font-size:16px !important;}
.fs20 {font-size:20px !important;}

.lh24 {line-height:24px !important;}
.lh20 {line-height:20px !important;}

.ml16 {margin-left:16px !important;}
.ml10 {margin-left:10px !important;}
.ml6 {margin-left:6px !important;}


.mr20 {margin-right:20px !important;}
.mr16 {margin-right:16px !important;}
.mr10 {margin-right:10px !important;}
.mr6 {margin-right:6px !important;}
.mr0 {margin-right:0 !important;}

.mt60 {margin-top:60px !important;}
.mt50 {margin-top:50px !important;}
.mt40 {margin-top:40px !important;}
.mt35 {margin-top:35px !important;}
.mt30 {margin-top:30px !important;}
.mt25 {margin-top:25px !important;}
.mt20 {margin-top:20px !important;}
.mt15 {margin-top:15px !important;}
.mt10 {margin-top:10px !important;}
.mt5 {margin-top:5px !important;}
.mt8 {margin-top:8px !important;} 
.mt0 {margin-top:0 !important;}
.mtf5 {margin-top:5px !important; float:left}
.mtf8 {margin-top:8px !important; float:left}
.mtf14 {margin-top:14px !important; float:left}

.mb35 {margin-bottom:35px !important;}
.mb25 {margin-bottom:25px !important;}
.mb20 {margin-bottom:20px !important;}
.mb15 {margin-bottom:15px !important;}
.mb10 {margin-bottom:10px !important;}
.mb5 {margin-bottom:5px !important;}
.mb0 {margin-bottom:0 !important;}

.pt0 {padding-top:0 !important;}
.pb10 {padding-bottom:10px !important;}
.pb35 {padding-bottom:35px !important;}
.pb0 {padding-bottom:0 !important;}
.pr5 { padding-right:5px !important}

.flr { float:right}
.fll { float:left}
.tlr { text-align:right}
.fl100 { float:left; width:100%}

.txt11 { font-size:11px}
.txt12 { font-size:12px}
.fw {font-weight:600}
.fw_b {font-weight:600; color:#000000}

.fcBlue { color:#5b7ad3}
.tCW { text-align:center; color:#fff; font-weight:600}
.fcYg { color:#926767}
.fcGy { color:#717171}
.fcGy2 {color:#878787}
.fcBlue2{ color:#92a0c7}
.fcBlt{ color:#4467c1}
.fcR_B { color:#dd4c2b; font-weight:600}


.bgBu {background-color:#4f6bb6}
.bgBud {background-color:#092369}
.bgG {background-color:#4c4c4c}
.bgBgr {background-color:#937778;} 
.w175 { width:175px}
.w180 { width:180px}
.w150 { width:150px}
.w200 { width:200px}
.w300 { width:300px}
.w400 { width:400px}
.w293 { width:293px}
.w398 { width:398px}
.w143 { width:143px}
.w120 { width:120px}
.w105 { width:105px}
.w100 { width:100px}
.w95 { width:95px}
.w90 { width:90px}
.w80 { width:80px}
.w60 { width:60px}
.w50 { width:50px}
.w40 { width:40px}
.w30 { width:30px}

.ml5 {margin-left:5px}

.brd0 { border:0}
.alc { text-align:center}

.tlin20{ line-height:20px}
.les3 { letter-spacing:-0.03em}

